Package: chonos-log
Version: 25.11.18
Priority:
Architecture: all
Essential:
Depends: 
Pre-depends: man, stunnel4, chonos-cert (>=24.06.28), curl, python3.9-full | python3.11-full | python3.12-full | python3.13-full, python3.9-dev | python3.11-dev | python3.12-dev | python3.13-dev, python3-dev, python3-pip
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: ChonOS Web Log Monitor Service. Dependencies are Python3 and Wtee.
